<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123222619025-t7dshfr9a1hos4o79jqufuk9q93ou53t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123222619025-t7dshfr9a1hos4o79jqufuk9q93ou53t</string>
	<key>API_KEY</key>
	<string>AIzaSyBflOO7Rut4S2JzMzL0-jdN20VPtc9nKWg</string>
	<key>GCM_SENDER_ID</key>
	<string>123222619025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thuta.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>iostwitterclone-201db</string>
	<key>STORAGE_BUCKET</key>
	<string>iostwitterclone-201db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123222619025:ios:fc9d648f18db5e6a6da030</string>
</dict>
</plist>